hr{
  border: 5px solid gold;
}
.box{
  background-color: darkcyan;
  border: 2px dotted black;
  width: 150px;
  height: 100px;
  display: flex;  
  align-items: center;
}
.box2{
  background-color: darkkhaki;
  border: 2px dotted black;
  width: 150px;
  height: 100px;
  display: flex;  
  align-items: center;
}
