.App{
    padding:0;
}

.setNicknameBackground{
    position : absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}
.setNicknameBox_white{
    padding :20px;
    width: 500px;
    margin-top: 300px;
    height: 300px;
    background-color: #C9C7C7;
    border-radius: 20px;
}

.inputNickname{
    display:block;
    height: 25px;
    width: 350px; 
    margin : 60px auto;
    text-indent: 2em;
    font-size: 15px;
    color:white;
    background-color: #C9C7C7;
    border-radius: 20px;
    border : solid 3px white;
}
.inputNickname:focus{
    outline: none;
}
.inputNickname::placeholder{
    color:white;
}

.inputBtn{
    display: block;
    font-size: 18px;
    margin-left: 380px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: #b9b7b7;
    border-radius: 10px;
    border: solid 2px white;
}

.inputBtn:hover{
    background-color: #494747;
}



#white{
    border: solid 2px #C9C7C7;
}

.searchTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top : 10px;
    padding-bottom: 10px;
}
.searchBar{
    width: 350px;
    height: 30px;
    border-radius: 20px;
    text-indent: 2em;
}
.searchBar:focus{
    outline: none;
}

#searchBtn_white{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    transition: all 0.2s;
}

#settingBtn_white{
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    transition: all 0.2s;
}

.chattingBox{
    height: 93vh;
    width : 350px;
    position: absolute;
    right: 0;
}

.inputChatBox{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
}

.inputChat_white{
    text-indent: 1em;
    height: 30px;
    background-color: #C9C7C7;
    border: white 2px solid;
    border-radius: 8px;
    color:white;
}
.inputChat_white:focus{
    outline: none;
}
.inputChat_white::placeholder{
    color:white;
}

.sendBtn{
    height: 30px;
    background-color: #b9b7b7;
    border-radius: 10px;
    border: solid 2px white;
    color: white;
}

.sendBtn:hover{
    background-color: #494747;
}

.chatSetting{
    height: 30px;
}

.settingChatBox{
    position: absolute;
    color:white;
    width: 300px;
    height: 200px;
    background-color: #b9b7b7;
    bottom : 50px;
    right :30px;
    border-radius: 20px;
}

.settingChatBox > button{
    position:absolute;
    right:10px;
    top:10px;
    border:none;
    background:none;
    color:white
}

.settingChatBox > button:hover{
    color:#494747
}

.settingBox{
    position:absolute;
    right: 60px;
    top:10px;
    color:white;
    background-color:#b9b7b7;
    width: 300px;
    height: 230px;
    padding: 20px;
    border-radius: 20px;
}