#white{
    border: solid 2px #C9C7C7;
}

#black{
    border: solid 2px #666666;
}

.App{
    padding:0;
}

.setNicknameBackground{
    position : absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.setNicknameBox_white{
    padding :20px;
    width: 500px;
    margin-top: 300px;
    height: 300px;
    background-color: #C9C7C7;
    border-radius: 20px;
}
.setNicknameBox_black{
    padding :20px;
    width: 500px;
    margin-top: 300px;
    height: 300px;
    background-color: #C9C7C7;
    border-radius: 20px;
}


.inputNickname_white{
    display:block;
    height: 25px;
    width: 350px; 
    margin : 60px auto;
    text-indent: 2em;
    font-size: 15px;
    color:white;
    background-color: #C9C7C7;
    border-radius: 20px;
    border : solid 3px white;
}
.inputNickname_black{
    display:block;
    height: 25px;
    width: 350px; 
    margin : 60px auto;
    text-indent: 2em;
    font-size: 15px;
    color:white;
    background-color:black;
    border-radius: 20px;
    border : solid 3px white;
}
.inputNickname_white:focus, .inputNickname_black:focus{
    outline: none;
}
.inputNickname_white::placeholder, .inputNickname_black::placeholder{
    color:white;
}

.inputBtn_white{
    display: block;
    font-size: 18px;
    margin-left: 380px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: #b9b7b7;
    border-radius: 10px;
    border: solid 2px white;
}
.inputBtn_white:hover{
    background-color: #494747;
}
.inputBtn_black{
    display: block;
    font-size: 18px;
    margin-left: 380px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: solid 2px white;
}
.inputBtn_black:hover{
    background-color:white;
    color:black;
}

.searchTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top : 10px;
    padding-bottom: 10px;
}

.searchBar_white{
    width: 350px;
    height: 30px;
    border-radius: 20px;
    text-indent: 2em;
    background-color: white;
    color:black;
    border: solid 2px #C9C7C7;
}
.searchBar_black{
    width: 350px;
    height: 30px;
    border-radius: 20px;
    text-indent: 2em;
    background-color: black;
    color:white;
    border: solid 2px #666666;
}
.searchBar_white:focus,.searchBar_black:focus{
    outline: none;
}

#searchBtn{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
}

#settingBtn{
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 40%;
}

.chattingBox{
    height: 93vh;
    width : 350px;
    position: absolute;
    right: 0;
}

.inputChatBox_white{
    background-color: #C9C7C7;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
}
.inputChatBox_black{
    background-color: black;
    border-top: #666666 solid 2px;
    display: flex;
    justify-content: space-evenly;
    height: 58px;
    align-items: center;
}

.inputChat_white{
    text-indent: 1em;
    height: 30px;
    background-color: #C9C7C7;
    border: white 2px solid;
    border-radius: 8px;
    color:white;
}
.inputChat_white:focus, .inputChat_black:focus{
    outline: none;
}
.inputChat_white::placeholder, .inputChat_black::placeholder{
    color:white;
}
.inputChat_black{
    text-indent: 1em;
    height: 30px;
    background-color: black;
    border: #666666 2px solid;
    border-radius: 8px;
    color:white;
}

.sendBtn_white{
    height: 30px;
    background-color: #b9b7b7;
    border-radius: 10px;
    border: solid 2px white;
    color: white;
}
.sendBtn_white:hover{
    background-color: #494747;
}
.sendBtn_black{
    height: 30px;
    background-color: black;
    border-radius: 10px;
    border: solid 2px white;
    color: white;
}
.sendBtn_black:hover{
    background-color: white;
    color: black;
}

.chatSetting{
    height: 30px;
}

.settingChatBox_white{
    position: absolute;
    color:white;
    width: 300px;
    height: 200px;
    background-color: #b9b7b7;
    bottom : 50px;
    right :30px;
    border-radius: 20px;
}
.settingChatBox_black{
    position: absolute;
    color:white;
    width: 300px;
    height: 200px;
    background-color: black;
    bottom : 50px;
    right :30px;
    border: white 2px solid;
    border-radius: 20px;
}
.settingChatBox_white > button, .settingChatBox_black > button{
    position:absolute;
    right:10px;
    top:10px;
    border:none;
    background:none;
    color:white
}

.settingChatBox > button:hover{
    color:#494747
}
.settingChatBox_black > button:hover{
    color:black;
    background:white;
}

.settingBox_white{
    position:absolute;
    right: 60px;
    top:10px;
    color:white;
    background-color:#b9b7b7;
    width: 300px;
    height: 230px;
    padding: 20px;
    border-radius: 20px;
}
.settingBox_black{
    position:absolute;
    right: 60px;
    top:10px;
    color:white;
    background-color:black;
    border: white solid 2px;
    width: 300px;
    height: 230px;
    padding: 20px;
    border-radius: 20px;
}

.chatText_white{
    color:black;
}
.chatText_black{
    color:white;
}

.mainContentBox_white,.mainContentBox_black{
    position: absolute;
    border:#b9b7b7 solid 2px;
    width: 1150px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    margin-top:10px;
    margin-left:400px;
}

.mainContentBox_white{
    color:black;
}
.mainContentBox_black{
    color:white;
}
